<p>
	list works!
</p>

<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 720 405" preserveAspectRatio='xMidYMid slice' #container>
	<!-- (click)='selectElement(els.text()' -->
	<!-- <g svg-text a360Element *ngIf='els?.text' [data]='els?.text'   (selectedElement)='selectElement(els.text)'></g>
	<g svg-image *ngIf='els?.image' [data]='els?.image' (click)='selectElement(els.image)'></g> -->
	<!-- <g svg-lmv *ngIf='els?.lmv' [data]='els?.lmv' (click)='selectElement(els.lmv)'></g> -->
	<foreignObject  [attr.width]="720" [attr.height]="405" >
		Hello
		<div>Div here</div>

	</foreignObject>

	<template #temp>

	</template>
</svg>
