$alice-blue: #f0f8ff; //very light blue
$aluminium: #a8aab2;
$azure: #0ca6de;
$black: #000;
$bright-sky-blue: #00bdff;
$browny-orange: #ca7000;
$carrot-orange: #ee8822;
$cerulean: #00bdff;
$cool-gray: #b9bbc1;
$cool-grey-two: #94949f;
$curious-blue: #1694d6;
$dark: #252a3f;
$fresh-green: #62d440;
$ebony-clay: #252a3f; //text
$gray84: #d6d6d6; //84% gray
$gray90: #e5e5e5; //90% gray
$gray93: #ededed; //93% gray
$gray98: #fafafa; //98% gray
$indochine: #ca7000; //button hover
$manatee: #94949f;
$mirage: #1c1f30;
$silver: #d2d5d5; //light gray borders
$tangerine: #f80; //button default
$tangerine-5: #fff9f2; //very light yellow
$waterloo: #7d808c;
$white: #fff;
