@mixin centerer($horizontal: true, $vertical: true) {
	position: absolute;
	@if $horizontal and $vertical {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	@else if $horizontal {
		left: 50%;
		transform: translate(-50%, 0);
	}
	@else if $vertical {
		top: 50%;
		transform: translate(0, -50%);
	}
}
@mixin aspect-ratio($width, $height) {
	position: relative;

	&:before {
		display: block;
		content: '';
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}

	> .sixteen-nine-content {
		padding: 0;
		overflow-y: auto;
		background-color: white;
		width: 100%;
		box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.3);
		position: absolute;
		height: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
